/* General
–––––––––––––––––––––––––––––––––––––––––––––––––– */

html {
  background-color: rgb(33, 33, 33);
  color: #f0f0f0;
  font-family: 'Source Sans Pro', sans-serif;
}

p, h1, h2, h3, h4, h5, span {
  color: #f0f0f0;
  font-weight: normal;
}

.section {
  padding: 6rem 0 6rem;
  text-align: center;
}

.title {
  margin-bottom: 2rem;
}


a {
  color: #f0f0f0;
  text-decoration: none;  
}

a:hover {
  color: #f0f0f0;
  text-decoration: underline;  
}

/*  End ––––––––––––––––––––––––––––––––––––––––––– */



/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.header {
  background-image: url('../img/values-bg.jpg');
  background-size: cover;
  padding-bottom: 5rem;
  color: #d4fd02;
}

.header .title {
  font-size: 3.5rem;
  color: #d4fd02;
}

.header .description {
  color: rgb(137, 138, 140);
  font-size: 3rem;
}

/*  End ––––––––––––––––––––––––––––––––––––––––––– */



/* Search
–––––––––––––––––––––––––––––––––––––––––––––––––– */


.icon {
  position: relative;
  display: inline-block;
}
 
.icon::before,
.icon::after {
  content: "";
  position: absolute;
}

.search {
  display: inline-block;
  margin: 0 auto;
}

.search .input-text {
  display: inline-block;
  float: left;
}

.search-button {
  cursor: pointer;
}

.search-button::after {
  width: 1.6em;
  height: 1.6em;
  top: -0.8em;
  left: 0.5em;
  border: .2em solid white;
  border-radius: 0.8em;
}

.search-button::before {
  width: 1.3em;
  height: .2em;
  margin: .8em 0 0 1.5em;
  transform: rotate(40deg);
  background: white;
}

.search-button:hover::after {
  border: .2em solid #d4fd02;  
}
.search-button:hover::before {
  background: #d4fd02;
}


/*  End ––––––––––––––––––––––––––––––––––––––––––– */



/* Book
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.book {
  border-bottom: 1px solid #d4fd02;
}

/*  End ––––––––––––––––––––––––––––––––––––––––––– */


/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.footer {
  color: #d4fd02;
  padding: 2rem;
}

.footer .description { 
  color: #d4fd02;
  margin-bottom: 2rem;
}
/*  End ––––––––––––––––––––––––––––––––––––––––––– */


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Larger than 550 */
@media (min-width: 550px) {
}

/* Larger than 750 */
@media (min-width: 750px) {
}

/* Larger than 1000 */
@media (min-width: 1000px) {
}
/*  End ––––––––––––––––––––––––––––––––––––––––––– */
